a 
  :color #3366cc
  :text-decoration none

h2 
  :margin 0px 0px 5px 0px

p 
  :margin 3px 3px 0px 3px

// Block Elements
#search_results, #tag_cloud
  :width 710px
  :font-family Arial, Helvetica, sans-serif
  :font-size 14px
  :color #000
  :padding 10px 10px 0px 10px


// Search box
#search_box 
  :width 700px
  :font-family Arial, Helvetica, sans-serif
  :font-size 14px
  :color #000
  :background-color #e9f3f1
  :padding 10px 10px 30px 10px
  
  table
    td
      :padding-right 5px
      :padding-top 10px
    .first
      td
        :padding-top 0

.platform_select 
  :width 170px
  :float left
  :margin-top 10px

// Results Elements 
.action
  :width 700px
  :margin-bottom 30px

.action-title 
  :margin-top 5px
  :margin-bottom 5px
  :font-size 160%
  :display block

.action-source 
  :width 320px
  :float right
  :margin-left 25px
  :text-align right

.action-goal 

.action-location 

.action-tags 

.action-url 
  :margin-top 10px
  :display block
  :color #ff6600

.action-url a 

.action-url a:hover 

.action-byline 

.action-byline a 
  :font-weight bold

.action-byline a:hover 

.action-created 

.action-type 
  :font-style italic

// Pagination
.pagination 
  :padding 3px
  :margin 3px

.pagination a 
  :padding 2px 5px 2px 5px
  :margin 2px
  :border 1px solid #3366cc
  :text-decoration none
  :color #3366cc

.pagination a:hover, .pagination a:active 
  :border 1px solid #3366cc
  :color #000

.pagination span.current 
  :padding 2px 5px 2px 5px
  :margin 2px
  :border 1px solid #3366cc
  :font-weight bold
  :background-color #3366cc
  :color #FFF

.pagination span.disabled 
  :padding 2px 5px 2px 5px
  :margin 2px
  :border 1px solid #eee
  :color #ddd

// Map
#gmap
  :height 400px
  :width 710px
  :margin-top 20px

.map-action
  :font-size 12px
  :width 200px
  :border 1px red
  :font-family Arial, Helvetica, sans-serif
  .title 
  .location
    :font-size 80%
  .byline
    :font-size 80%
  .created
    :font-size 80%

  
// Tags
.tag1
  :font-size 1.0em
.tag2
  :font-size 1.2em
.tag3
  :font-size 1.4em
.tag4
  :font-size 1.6em

