- content_for :map_headers do
  = map_header(@gmap)
  = map_body(@gmap)

= render :partial => 'actions/search_form'

#notice
  %p
    %strong
      Note:
    At this point, only a few social action platforms publish location information in their RSS feeds.  We are working with the platforms to develop a standard format for referencing location.  In the meantime, please <a href="/map">use this map to show all social change campaigns for which location is known</a>.


#gmap
