<div id="footer">
<p><a href="http://creativecommons.org/licenses/by-nc-sa/2.5/"><img src="/images/creativecommons.gif" border="0" align="left" style="margin:3px 10px 20px 0px"></a>&copy; Copyright 2008 Peter Deitz and Cameron Booth. <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/">Some Rights Reserved</a>.</p>
<p><em>This mashup uses Ruby on Rails. The project </em><em>lead is Peter Deitz, <a href="http://www.socialactions.com">Social Actions</a>.</em><em> </em><em>The lead engineer is Cameron Booth, <a href="http://www.cdbdesign.net">cdbdesign.net</a></em>.
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-772094-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>