<div id="header">
<h2>A Mashup of 29+ Social Action Platforms</h2>

<p style="margin-top:10px"><a href="http://www.netsquared.org/"><img src="http://www.socialactions.com/images/mashup/N2Y3Global.jpg" style="float:right;margin-left:15px" border="0" /></a>You are test driving the initial version of <strong><a href="http://www.netsquared.org/2008/conference/projects/mashup-social-actions">"A Mashup of 29+ Social Action Platforms."</a></strong> </p>
<p style="margin-top:10px">Please send your feedback to <a href="mailto:peterdeitz@gmail.com"><strong>peterdeitz@gmail.com</strong></a> or <strong><a href="http://www.netsquared.org/2008/conference/projects/mashup-social-actions">post a comment</a>.</strong> </p>
<p style="margin-top:10px"><strong><a href="/">Return to the homepage.</a></strong> Thank you for your support! </p>
</div>

