<div id="header">

  <h2>A Mashup of 29+ Social Action Platforms</h2>

  <div style="float:right;width:360x;margin-left:15px;margin-top:10px"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="playerLoader" width="360" height="301" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
    <param name="movie" value="http://farm.sproutbuilder.com/112320/load/uwBkG7aMAWbz_4HQ.swf"/>
    <param name="quality" value="high"/>
    <param name="allowScriptAccess" value="always"/>
    <param name="allowFullScreen" value="true"/>
    <param name="wmode" value="transparent"/>
    <embed src="http://farm.sproutbuilder.com/112320/load/uwBkG7aMAWbz_4HQ.swf" width="360" height="301" name="playerLoader" align="middle" wmode="transparent" play="true" loop="false" quality="high" allowScriptAccess="always" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer"/>
  </object><img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://counters.gigya.com/wildfire/CIMP/Jmx*PTEyMDU2OTU5OTAwMDImcHQ9MTIwNTY5NjA3Nzc5NyZwPTEyMDc*MSZkPTExMjM4MyZuPQ==.jpg" /></div>

  <p style="margin-top:10px">Hello NetSquared Mashup Voters,</p>
  <p>You have arrived on the initial version of <strong><a href="http://www.netsquared.org/2008/conference/projects/mashup-social-actions">"A Mashup of 29+ Social Action Platforms."</a></strong></p><p>Please test drive our mashup using the form below.</p>

  <p>This version of the mashup allows you to</p>
  <ul style="margin-top:4px;margin-bottom:4px">
    <li><strong>Search across 17 social action platforms for 5 kinds of  campaigns</strong>: group fundraisers, pledged actions, petitions, micro-credit loans, and affinity groups.</li>
    <li><strong>Map peer-to-peer social change campaigns</strong> using the Google Maps API.</li>
    </ul>
  <p></p>
  <p><em>How can we make this mashup better</em>? </p>

  <p>Please send your feedback to <a href="mailto:peterdeitz@gmail.com"><strong>peterdeitz@gmail.com</strong></a> or <span class="style1"><a href="http://www.netsquared.org/2008/conference/projects/mashup-social-actions">post a comment</a>.</span> </p>
  <p>Thank you for your support!</p>
  <img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://counters.gigya.com/wildfire/CIMP/Jmx*PTEyMDU2OTU5OTAwMDImcHQ9MTIwNTY5NTk5MzA2NCZwPTEyMDc*MSZkPTExMjM4MyZuPQ==.jpg" /> 

</div>
